<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ContratorBookingSystemEntities" connectionString="metadata=res://*/ContratorBookingSystemEntities.csdl|res://*/ContratorBookingSystemEntities.ssdl|res://*/ContratorBookingSystemEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ContratorBookingSystem;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>